.menu-box
  %table{:cellpadding => "0", :cellspacing => "0"}
    %tr.heading
      %td
      - @days.each do |day|
        %td= day.humanize
    - @meals.each do |meal|
      %tr
        %td= meal
        - @days.each do |day|
          %td
            - if @grouped_menu_items[[day, meal]]
              - @grouped_menu_items[[day, meal]].each do |menu_item|
                = menu_item.dish.name
