@import 'variables';

.bg-menu {
  background-color: $color-dark;
}

.nav-link a, .dropdown-item a {
  color: $color-lighter
}

.nav-link, .nav-link a:visited, .dropdown-item a:visited {
  color: $color-light;
}

.nav-link a:hover, .dropdown-item a:hover {
  background-color: white;
  color: $color-dark;
}
