$color-dark: #283f57;
$color-base: #48719d;
$color-light: #96b2cf;
$color-lighter: #cbd8e7;
$color-the-lightest: #dce5ef;

$phone: "only screen and (max-width: 576px)";
$phone_h: "only screen and (max-width: 768px)";
$tablet: "only screen and (max-width: 992px)";
$laptop: "only screen and (max-width: 1200px)";
$monitor: "only screen and (min-width: 1200px)";
